{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container" style="text-align:center; max-width:75%;">
    

    <!-- Flash messages (success, error) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 style="font-size:50px;">Welcome to SocioSphere</h1>
    <p style="font-size:25px;">"Connecting Communities, Empowering Change."</p>
    <img src="{{ url_for('static', filename='sociosphere.png') }}" alt="Logo" style="border-radius:50%;height:200px;"><br><br><br>

    <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="mb-3">
            <a href="/login" class="btn btn-primary mb-3" style="text-decoration:none;">Login</a>
        
            <a href="/register" class="btn btn-primary mb-3" style="text-decoration:none;">Register</a>
        </div><br>
</div>
{% endblock %}
