{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container" style="text-align:center; max-width:400px;">
    <h2 style="font-size:30px;">Login to SocioSphere</h2>

    <!-- Flash messages (success, error) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="mb-3">
            <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                   placeholder="Email address" required style="font-size: 18px;">
        </div><br>

        <div class="mb-3">
            <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                   placeholder="Password" required style="font-size: 18px;">
        </div><br><br>

        <button type="submit" class="btn btn-primary" style="font-size: 16px;">Submit</button>
    </form>

    <p style="margin-top: 20px;">Don’t have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
</div>
{% endblock %}
