{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="card p-4 mt-4 shadow-lg">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info flash-messages">
          {% for message in messages %}
            <p class="mb-0">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <script>
      setTimeout(function () {
        const flashBox = document.querySelector('.flash-messages');
        if (flashBox) {
          flashBox.style.display = 'none';
        }
      }, 3000);
    </script>

    <h2 class="mb-3">Welcome, {{ name }}</h2>
    <p>This is your dashboard to raise complaints and track welfare requests.</p>
    <div>
    <a class="btn btn-outline-primary mt-3" href="{{ url_for('report.my_reports') }}" style="text-decoration: none;width:170px;">
      My Issues
    </a>
    <a class="btn btn-outline-primary mt-3" href="{{ url_for('report.report_issue') }}" style="text-decoration: none;width:170px;">
      Report an Issue
    </a></div>
  </div>

  {% if events %}
  <div id="eventCarousel" class="carousel slide carousel-fade mt-5 shadow" data-bs-ride="carousel" style="width: 70%; margin: auto;">
    <div class="carousel-inner">
      {% for event in events %}
      <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
        <img  src="{{ url_for('static', filename='uploads/' ~ event.image_filename) }}" class="d-block w-100 rounded" alt="{{ event.title }}" style="height: 300px; object-fit: cover;">
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-3 rounded">
          <h5>{{ event.title }}</h5>
          <p>{{ event.date }}</p>
          <a href="{{ url_for('main.event_detail', event_id=event.id) }}" >View Details</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  {% endif %}
</div>
{% endblock %}

