{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="card">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <script>
      setTimeout(function() {
        const flashBox = document.querySelector('.flash-messages');
        if (flashBox) {
          flashBox.style.display = 'none';
        }
      }, 3000);
    </script>

    <h2>Welcome, {{ name }}</h2>
    <p>This is your dashboard to raise complaints and track welfare requests.</p>
    <br><br>
    <a class="btn" href="{{ url_for('main.view_events') }}">Explore Events</a>
    <br><br><br>
  </div>
</div>
{% endblock %}
